.tooltipContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    height: 80px;
    margin-left: 30px;
    font-family: "Roboto";
    font-weight: 500;
    background-color: #e60000;
    color:#ffffff
}

.tooltipContainer p {
    font-size: 11px;
}