.tooltipContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 37px;
    height: 60px;
    margin-left: 30px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 8px;
    background-color:#E60000;
    color:#ffffff
}