* {
    padding: 0;
    box-sizing: border-box;
  
  
}

.mainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1024px;
    height: 712px;
    /* background-color: green; */
}

.articleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 950px;
    height: 631px;
    margin-top: 30px;
    /* margin-bottom: 4px; */
    margin-left: 0px;
    /* margin-right: 67px; */
    /* background-color: yellow; */
}

.userChoiceAndCommentContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 94%;
    height: 89px;
    /* background-color: aqua; */
}

.commentContainer {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    width: 414px;
    min-height: 105px;
    height: auto;
    /* background-color: orange; */
    padding: 0;
    margin: 0;
    margin-left: 46px;
}

h1, strong {
    font-family: "Roboto";
    font-size: 44px;
    font-weight: 500;
    /* background-color: aqua; */
    margin: 0;
}

strong {
    text-transform: capitalize;
    color: #ff0101;
}

p {
    font-family: "Roboto";
    font-size: 18.3px;
    /* background-color: blue; */
}

.activityAndEnergyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 827px;
    height: 478x;
    margin-left: 69px;
    padding-bottom: 0;
    margin-bottom: 0;
    /* background-color: blue; */
}

.activityContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 595px;
    height: 458px;
    /* margin-top: 20px; */
    /* background-color: greenyellow; */
}

.ActivityBarCharts {
    display: flex;
    width: 100%;
    height: 243px;
    margin-top: 0;
    padding-left: 43px;
    background-color: #FBFBFB; 
}

.graphsTwoThreeFourContainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 595px;
    height: 200px;
    padding: 0;
    /* padding-top: 8px; */
    margin: 0;
    /* background-color: brown; */
}

.energiesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 182px;
    height: 458px;
    margin-left: 15px;
    /* background-color: orange; */
}

.graph {
    display: flex;
    position: relative;
    margin: 0;
    width: 184px;
    height: 200px;
    /* background-color: beige; */
}


