* {
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 796px;
    height: 595px;
    margin-top: 35px;
    margin-bottom: 64px;
    margin-left: 160px;
    margin-right: 67px;
    /* background-color: yellow; */
}

.userChoiceAndCommentContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 89px;
    /* background-color: aqua; */
}

.commentContainer {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    width: 414px;
    min-height: 90px;
    height: auto;
    /* background-color: orange; */
    padding: 0;
    margin: 0;
}

h1, strong {
    font-family: "Roboto";
    font-size: 44px;
    font-weight: 500;
    /* background-color: aqua; */
    margin: 0;
}

strong {
    text-transform: capitalize;
    color: #ff0101;
}

p {
    font-family: "Roboto";
    font-size: 18.3px;
    /* background-color: blue; */
}

.activityAndEnergyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 595px;
    height: 461x;
    /* background-color: blue; */
}

.activityContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 595px;
    height: 458px;
    /* background-color: greenyellow; */
}

.ActivityBarCharts {
    display: flex;
    width: 100%;
    height: 243px;
    padding-left: 43px;
    background-color: #FBFBFB; 
}

.graphsTwoThreeFourContainer {
    display:flex;
    width: 595px;
    height: 200px;
    background-color: brown;
}

.energiesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 182px;
    height: 458px;
    margin-left: 15px;
    /* background-color: orange; */
}




