.blackVerticalBand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 84px;
    height: 755px;
    margin-top: -758px;
    background-color: black;
}

.sportsIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    margin: 0;
    border-radius: 5px;
    background-color: #ffffff;
}

.sportsIconsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 237px;
    width: 64px;
    height: 236px;
}

.copyrightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 138px;
    margin-bottom: 40px;
    writing-mode: vertical-rl;
}

.copyrightText {
    font-family: Roboto;
    font-size: 12px;
    transform: rotate(180deg);
    color: #ffffff; 
}